@media (min-width: 768px) {
	.container {
		width: 600px;
	}
}

.players {
	padding: 5px 0;
}

.menu {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top: 1px solid #DDD;
	background: white;
}

.players.editing .edit {
	display: block;
	margin: -3px 0 0 13px;
}

.players .edit {
	position: absolute;
	display: none;
}

.add {
	margin-top: 5px;
	margin-bottom: 5px;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

